<?xml version="1.0" encoding="utf-8" standalone="no"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0" id="it.tom.Cesana" version="1.0.0">
    <name>Cesana</name>
    <description>
        Domotica
    </description>
    <author email="tommaso.ruggiero@gmail.com" href="http://cordova.io">
        Apache Cordova TOM Team
    </author>
    <icon src="img/logo.png" />
    <content src="index.html"/>
    <access origin="*"/>
    
</widget>
